/* moosegit.github.io (style.css) */
h1{
  font-style: normal;
  text-align: center;
}

.moosegit {
  font-family: Helvetica;
  font-size: 30px;
  color: teal;
}

.github {
  font-family: Helvetica;
  font-size: 65px;
  color: teal;
}
