/* moosegit.github.io (style.css) */
h1{
  font-style: normal;
  text-align: center;
}

h1-header {
  font-family: Helvetica;
  color: teal;
}

h1-header,
.moosegit {
  font-size: 30px;
}

h1-header,
.github {
  font-size: 65px;
}
