/* moosegit.github.io (style.css) */

#header,
h1-background{
  text-align: center;
}
.moosegit{
  font-family: Helvetica;
  font-size: 30px;
  color: teal;
}

.github{
  font-family: Helvetica;
  font-size: 45px;
  color: teal;
}
