/* Secret Agent Supply - style.css */

html {
  height: 100%;
  width:100%;
  font-family: Helvetica, sans-serif;
  font-size: 1.125rem;
}

body {
  height: 100%
  font-family: Helvetica, sans-serif;
  font-size: 1.125rem;
}

.header {
  display: flex;
  width: auto;
  height: 4rem;
  background-color: black;
}

.logo {
  display: inline-flex;
  height: 2.32rem;
  margin-left: 3rem;
  margin-top: 1rem;
}

.heading {
  display: inline-flex;
  margin-top: 1.5rem;
  margin-bottom: 0.66rem;
  margin-left: 3rem;
  color: white;
}

.top-background {
  background: url("../images/moto.jpeg") no-repeat;
  background-size: cover;
  background-position: center;
  display: flex-block;
  height: 25rem;
}

.headline {
  display: flex;
  flex-wrap: wrap;
  background-color: black;
  color: white;
  width: 25rem;
  height: 8rem;
  position: absolute;
  padding: 2rem 3rem;
  margin-left: 3rem;
  top: 9rem;
}

.headline2 {
  font-size: 2rem;
  line-height: 2.5rem;
  margin: 0.25rem 0;
}

/* Nav Menu */

.menu-desktop {
  display: inline-flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 21rem;
  background-color: firebrick;
  height: 4rem;
  width: 100%;
  color: white;
}

/* Hide when scree > 1024px */
.menu-tablet {
  display: none;
}

a:hover {
  background-color: Pink;
}

a:link, a:visited, a:active {
  color: white;
}


/* Store Products, Images */

.container {
  /*height: 100%;*/
  margin-left: 1rem;
  margin-right: 1rem;
}

.store {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: white;
  top: 0;
  /*width: 100%;*/

}

.product {
  align-content: center;
  align-items: center;
  align-items: stretch;
  width: 30%;
  border: solid black 4px;
  margin-top: 3rem;
}

.labels {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

}

.label  {
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: white;
  height: 2rem;
  width: 30%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 0.4rem

}


/* Store Location Data */

.bottom-container {
  /*max-width: 960px;*/
  margin-left: 2rem;
  margin-right: 2rem;
}

.store-info {
  display: flex;
  justify-content: space-between;
  background-color: white;
  height: 3rem;
  width: 100%;
  margin-top: 3rem;

}

.store-data {
  background-color: black;
  color: white;
  width: 35%;
  height: 1rem;
  padding: 1rem 0 1rem 2rem;

}

.values {
  display: flex;
  justify-content: space-between;
}

.value {
  width: 35%;
  height: 1rem;
  padding-right: 2rem;
}


/* Footer Section */

.footer-container {
  margin-top: 3rem;
}

.footer {
  display: flex;
  height: 5rem;
  background-color: black;
  width: 100%;
}

.copyright {
  display: inline-flex;
  padding-top: 2rem;
  font-size: 1rem;
  color: white;
  text-align: left;
  padding-left: 3rem;
}
